body {
  margin: 0 auto;
  max-width: 1140px;
  font-family: "Rosario", sans-serif;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 36px;
  margin: 0;
  color: #137D18;
  letter-spacing: 4px;
}

.logo {
  width: 100%;
  box-sizing: border-box;
}

.box {
  margin: 50px 0;
  padding: 25px 30px;
  background-color: #BAB8B8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  line-height: 29px;
}

@media only screen and (max-width: 900px) {
  .box {
    font-size: 18px;
  }  
}

.box--footer {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #137D18;
  margin-bottom: 0;
}

.box--footer .logo {
  width: 65%;
}

.box--centered {
  text-align: center;
}

.gallery {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .gallery {
    flex-direction: column;
    padding: 0 50px;
  }  
}

.image {
  height: 100%;
  width: 33.3%;
  padding: 0 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  .image {
    width: 100%;
    height: auto;
    margin: 25px 0;
  }
}